.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


img {
    width: 120px;
    border-radius: 100px;
}

.avatar-img {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar-img h2{
    font-size: 20px;
    text-align: center;
}

.follow {
    background-color: var(--bg-color);
    border-radius: 20px;
    padding: 20px 20px;
    text-align: center;
    width: 90%;
}

.info {
    width: 70%;
}

.info p{
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: 300;
    
}

ul {
    padding: 10px;
}
ul li {
    text-direction: none;
    list-style: none;

    display: flex;
}

ul li .icon{
    margin-right: 10px;

}

ul li .icon {
    margin-bottom: 10px;
}

li {

} 

li .icon {
    color: #fff!important;
    font-size: 24px;
}

table {
    width: 100%;
}

th {
    font-weight: normal;
    font-size: 14px;
}

td {
    font-size: 24px;
}

@media (max-width: 800px) {
    .profile {
  
       display: flex;
       flex-direction: column;
       
    }

    .avatar-img {
        width: 100%;
        margin-bottom: 20px;
    }

    .info {
        width: 100%;
    }
       
}