.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.content {
    display: flex;
    width: 65%;
    max-width: 700px;
    flex-direction: column;
}
.container {
    width: 100%;
    background: var(--secondary-color);
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px 20px;
    margin-bottom: 20px;
    

    display: flex;
    flex-direction: column;
    align-items: center;

}

hr {
    width: 90%;
}

.repo-text {
    margin: 10px 10px;
    text-align: left;
}

@media (max-width: 800px) {
    .content {
        width: 90%;
    }

}
